div {
    width: 100px;
    height: 100px;
    border:1px solid red;
    border-radius: 10%;
    display: inline-block;
}

img {
    border:5px groove black;
    width: 15%;
    border-radius: 100%;
}

.waveone {
    border:5px dashed red;
    width: 15%;
    border-radius: 100%;
}

.wavetwo {
    border:5px dotted black;
    width: 15%;
    border-radius: 100%;
}

.wavethree {
    border:5px double red;
    width: 15%;
    border-radius: 100%;
}