div {
    width:100px;
    height:100px;
    border:1px solid red;
}

img {
    border:10px groove black;
    width: 50%;
}

.waveone {
    border:10px dashed red;
    width: 50%;
}

.wavetwo {
    border:10px dotted black;
    width: 50%;
}

.wavethree {
    border:10px double red;
    width: 50%;
}