div {
    width: 1000px;
    height:1000x;
    border:1px solid red;
    border-radius: 5px;
}

img {
    border:10px groove black;
    width: 50%;
}

.waveone {
    border:10px dashed red;
    width: 50%;
}

.wavetwo {
    border:10px dotted black;
    width: 50%;
}

.wavethree {
    border:10px double red;
    width: 50%;
}